<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.drudycja">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".drudycjaEngine.ui.MainActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".drudycjaEngine.ui.battle.BattleActivity" />
        <activity android:name=".drudycjaEngine.ui.party.PartyMenu" />
        <activity
            android:name=".drudycjaEngine.ui.battle.wizard.BattleSetupWizard"
            android:label="@string/lab_delete" />
        <activity android:name=".drudycjaEngine.ui.battle.wizard.AddingBlotkaActivity" />
        <activity
            android:name=".drudycjaEngine.ui.party.partycharacter.CharacterCreator"
            android:label="@string/title_character_creator"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".drudycjaEngine.ui.party.partycharacter.character.CharacterDetailActivity" />
        <activity
            android:name=".drudycjaEngine.ui.party.partyparty.PartyCreator"
            android:label="@string/title_party_creator" />
    </application>

</manifest>